# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
!*.xcworkspace/xcshareddata/
xcuserdata/
DerivedData/
*.xccheckout
*.moved-aside

# Swift Package Manager
.build/
.swiftpm/
Packages/
*.xcodeproj

# FabricUI is separate repo
FabricUI/

# macOS
.DS_Store

# Build
build/
